{% extends 'admin/base.html.twig' %}
{% block title %}{{ 'stock.title'|trans }}{% endblock %}

{% block page_content %}

    {% embed 'admin/_partials/_default_table_list.html.twig' with {'item': stocks} %}

        {% block caption_subject %}
            {{ 'resource.caption'|trans({'%resourceName%': 'stock.titleBalance'|trans, '%nbResults%' : stocks.nbResults}) }}
        {% endblock %}

        {% block filters_actions %}
            <div class="row m--margin-bottom-20">
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="search">
                        {{ 'resource.filters.search'|trans }}:
                    </label>
                    <input type="text" class="form-control m-input m-input--solid" data-col-index="0"
                           placeholder="{{ 'stock.fields.referency'|trans }}" name="search" id="search"
                           value="{% if app.request.query.has('search') %}{{ app.request.query.get('search') }}{% endif %}">
                </div>
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="brand">
                        {{ 'brand.title_single'|trans }}:
                    </label>
                    <select class="form-control m-input" name="brand" id="brand" onchange="submit();">
                        <option value=""></option>
                        {% for brand in brands %}
                            <option value="{{ brand.id }}"
                                    {% if app.request.query.has('brand') %}{% if app.request.query.get('brand') == brand.id %}selected{% endif %}{% endif %}>{{ brand.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="num_items">
                        {{ 'resource.filters.num_items'|trans }}:
                    </label>
                    <input type="number" class="form-control col-md-4"
                           name="num_items" id="num_items"
                           value="{{ app.request.query.get('num_items', pagination.routeParams('num_items')) }}"
                           min="5">
                </div>
            </div>
            <div class="m-separator m-separator--md m-separator--dashed"></div>
            <div class="row m--margin-bottom-20">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-brand m-btn m-btn--icon">
                        <span><i class="la la-search"></i><span>{{ 'resource.filters.search'|trans }}</span></span>
                    </button>
                    &nbsp;&nbsp;
                    <a href="{{ path('admin_stock_balance') }}"
                       class="btn btn-secondary m-btn m-btn--icon">
                        <span><i class="la la-close"></i><span>{{ 'resource.actions.items.reset'|trans }}</span></span>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block table_tr_th %}
            <tr>
                <th>
                    {{ 'stock.fields.referency'|trans }}
                </th>
                <th>
                    {{ 'stock.balance'|trans }}
                </th>
            </tr>
        {% endblock %}

        {% block table_tr_td %}

            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.referency }}</td>
                    <td>{{ stock.saldo }}</td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block list_info %}
            {{ 'resource.pagination.list_info'|trans({
                '%currentPageOffsetStart%': stocks.currentPageOffsetStart,
                '%currentPageOffsetEnd%': stocks.currentPageOffsetEnd,
                '%nbResults%': stocks.nbResults
            }) }}
        {% endblock %}

        {% block list_pagination %}
            {{ pagerfanta(stocks, 'twitter_bootstrap4',{
                routeName: 'admin_stock_balance',
                routeParams: app.request.query.all
            }) }}
        {% endblock %}

    {% endembed %}

{% endblock %}