{% extends 'admin/base.html.twig' %}
{% block title %}{{ 'stock.title'|trans }}{% endblock %}

{% block page_content %}

    {% embed 'admin/_partials/_default_table_list.html.twig' with {'item': stocks} %}

        {% block caption_subject %}
            {{ 'resource.caption'|trans({'%resourceName%': 'stock.title'|trans, '%nbResults%' : stocks.nbResults}) }}
        {% endblock %}

        {% block head_tools_actions %}
            <li class="m-portlet__nav-item">
                <a href="{{ path('admin_stock_new') ~ pagination.buildQuery }}"
                   class="btn btn-accent m-btn m-btn--icon m-btn--air">
                    <span><i class="la la-plus"></i><span> {{ 'stock.actions.new'|trans }}</span></span>
                </a>
            </li>

        {% endblock %}

        {% block head_tools_dropdown_actions %}
            <li class="m-nav__item">
                <a href="javascript;" class="m-nav__link" data-toggle="modal" data-target="#modalXml">
                    <i class="m-nav__link-icon flaticon-file"></i>
                    <span class="m-nav__link-text">Importar XML</span>
                </a>
            </li>
            <li class="m-nav__item" data-toggle="modal" data-target="#modalConferir">
                <a href="javascript:void(0)" class="m-nav__link">
                    <i class="m-nav__link-icon la la-check"></i>
                    <span class="m-nav__link-text"> Conferir Produto</span>
                </a>
            </li>
            <li class="m-nav__item">
                <a href="javascript:void(0)" class="m-nav__link" id="delete-items"
                   data-path="{{ path('admin_stock_delete_items')|escape }}">
                    <i class="m-nav__link-icon la la-trash"></i>
                    <span class="m-nav__link-text"> Apagar Selecionados</span>
                </a>
            </li>
        {% endblock %}

        {% block filters_actions %}
            <div class="row m--margin-bottom-20">
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="search">
                        {{ 'resource.filters.search'|trans }}:
                    </label>
                    <input type="text" class="form-control m-input m-input--solid" data-col-index="0"
                           placeholder="{{ 'stock.fields.referency'|trans }}" name="search" id="search"
                           value="{% if app.request.query.has('search') %}{{ app.request.query.get('search') }}{% endif %}">
                </div>
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="type">
                        {{ 'stock.fields.type'|trans }}:
                    </label>
                    <select class="form-control m-input" name="type" id="type" onchange="submit();">
                        <option value="">Todas</option>
                        <option value="{{ constant('App\\StockTypes::TYPE_ADD') }}"
                                {% if app.request.query.has('type') %}{% if app.request.query.get('type') == constant('App\\StockTypes::TYPE_ADD') %}selected{% endif %}{% endif %}>
                            {{ ('stock.types.'~constant('App\\StockTypes::TYPE_ADD'))|trans }}
                        </option>
                        <option value="{{ constant('App\\StockTypes::TYPE_REMOVE') }}"
                                {% if app.request.query.has('type') %}{% if app.request.query.get('type') == constant('App\\StockTypes::TYPE_REMOVE') %}selected{% endif %}{% endif %}>
                            {{ ('stock.types.'~constant('App\\StockTypes::TYPE_REMOVE'))|trans }}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label>
                        {{ 'resource.filters.date'|trans }}:
                    </label>
                    <div class="input-daterange input-group" id="m_datepicker">
                        <input type="text" class="form-control m-input" name="date_start" readonly
                               placeholder="{{ 'resource.filters.date_start'|trans }}" id="m_datepicker_1"
                               value="{% if app.request.query.has('date_start') %}{{ app.request.query.get('date_start') }}{% endif %}"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-ellipsis-h"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control m-input" name="date_end" readonly
                               placeholder="{{ 'resource.filters.date_end'|trans }}" id="m_datepicker_1"
                               value="{% if app.request.query.has('date_end') %}{{ app.request.query.get('date_end') }}{% endif %}"/>
                    </div>
                </div>
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="user">
                        {{ 'user.title_single'|trans }}:
                    </label>
                    <select class="form-control m-input" name="user" id="user" onchange="submit();">
                        <option value=""></option>
                        {% for user in users %}
                            <option value="{{ user.id }}"
                                    {% if app.request.query.has('user') %}{% if app.request.query.get('user') == user.id %}selected{% endif %}{% endif %}>{{ user.fullName }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="m-separator m-separator--md m-separator--dashed"></div>
            <div class="row m--margin-bottom-20">
                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                    <label for="num_items">
                        {{ 'resource.filters.num_items'|trans }}:
                    </label>
                    <input type="number" class="form-control col-md-4"
                           name="num_items" id="num_items"
                           value="{{ app.request.query.get('num_items', pagination.routeParams('num_items')) }}"
                           min="5">
                </div>
            </div>
            <div class="m-separator m-separator--md m-separator--dashed"></div>
            <div class="row m--margin-bottom-20">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-brand m-btn m-btn--icon">
                        <span><i class="la la-search"></i><span>{{ 'resource.filters.search'|trans }}</span></span>
                    </button>
                    &nbsp;&nbsp;
                    <a href="{{ path('admin_stock_index') }}"
                       class="btn btn-secondary m-btn m-btn--icon">
                        <span><i class="la la-close"></i><span>{{ 'resource.actions.items.reset'|trans }}</span></span>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block table_tr_th %}
            <tr>
                <th>
                    <a href="javascript:void(0)" id="selectAll">#</a>
                </th>
                {#<th>ID</th>#}
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('referency') }}">
                        {{ 'stock.fields.referency'|trans }}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('quantity') }}">
                        {{ 'stock.fields.quantity'|trans }}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('unitPrice') }}">
                        {{ 'stock.fields.unitPrice'|trans }}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('amount') }}">
                        {{ 'stock.fields.amount'|trans }}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('type') }}">
                        {{ 'stock.fields.type'|trans }}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('user.firstName') }}">
                        {{ 'user.title_single'|trans }}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_stock_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('createdAt') }}">
                        {{ 'resource.timestampable.createdAt'|trans }}
                    </a>
                </th>
                <th>{{ 'resource.actions.title'|trans }}</th>
            </tr>
        {% endblock %}

        {% block table_tr_td %}
            {% for stock in stocks %}
                <tr>
                    <td>
                        <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                            <input type="checkbox" name="ids[]" id="ids" title="" value="{{ stock.id }}">
                            <span></span>
                        </label>
                    </td>
                    {#<td>{{ stock.id }}</td>#}
                    <td>{{ stock.referency }}</td>
                    <td>
                        <span class="m-badge {% if stock.type == constant('App\\StockTypes::TYPE_ADD') %}m-badge--success{% else %}m-badge--info{% endif %} m-badge--wide">
                            {{ stock.quantity }}
                        </span>
                    </td>
                    <td>{{ stock.unitPrice|number_format }}</td>
                    <td>{{ stock.amount|number_format }}</td>
                    <td>
                        <span class="m-badge {% if stock.type == constant('App\\StockTypes::TYPE_ADD') %}m-badge--success{% else %}m-badge--info{% endif %} m-badge--wide">
                            {{ ('stock.types.'~stock.type)|trans }}
                        </span>
                    </td>
                    <td>{{ stock.user.fullName }}</td>
                    <td>{{ stock.createdAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <a href="{{ path('admin_stock_edit', { id: stock.id }) ~ pagination.buildQuery }}"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                           title="{{ 'resource.actions.items.edit'|trans }}"> <i class="la la-edit"></i>
                        </a>
                        <a href="javascript:;"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                           data-toggle="modal"
                           data-target="#modalConfirmation"
                           data-path="{{ path('admin_stock_delete', {id: stock.id})|escape }}"
                           data-crf="{{ form_widget(delete_forms[stock.id]._token)|escape }}"
                           title="{{ 'resource.actions.items.delete'|trans }}"
                        >
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block list_info %}
            {{ 'resource.pagination.list_info'|trans({
                '%currentPageOffsetStart%': stocks.currentPageOffsetStart,
                '%currentPageOffsetEnd%': stocks.currentPageOffsetEnd,
                '%nbResults%': stocks.nbResults
            }) }}
        {% endblock %}

        {% block list_pagination %}
            {{ pagerfanta(stocks, 'twitter_bootstrap4',{
                routeName: 'admin_stock_index',
                routeParams: app.request.query.all
            }) }}
        {% endblock %}

    {% endembed %}

    {% embed 'admin/_partials/_default_table_list.html.twig' %}

        {% block head_tools_dropdown %}{% endblock %}
        {% block table_scroll %}{% endblock %}
        {% block caption_subject %}
            {{ 'stock.total'|trans }}
        {% endblock %}

        {% block body_hr_first %}{% endblock %}

        {% block table_tr_th %}
            <tr>
                <th>{{ 'stock.types.add'|trans }}</th>
                <th>{{ 'stock.types.remove'|trans }}</th>
                <th>{{ 'stock.total'|trans }}</th>
            </tr>
        {% endblock %}

        {% block table_tr_td %}
            <tr>
                <td>
                    <span class="m-badge m-badge--success m-badge--wide">
                    {{ total[constant('App\\StockTypes::TYPE_ADD')] }}
                    </span>
                </td>
                <td>
                    <span class="m-badge m-badge--info m-badge--wide">
                    {{ total[constant('App\\StockTypes::TYPE_REMOVE')] }}
                    </span>
                </td>
                <td>
                    <span class="m-badge m-badge--brand m-badge--wide">
                    {{ total['total'] }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="m-badge m-badge--success m-badge--wide">
                    {{ total['total_add_amount']|number_format }}
                    </span>
                </td>
                <td>
                    <span class="m-badge m-badge--info m-badge--wide">
                    {{ total['total_remove_amount']|number_format }}
                    </span>
                </td>
                <td>
                    <span class="m-badge m-badge--brand m-badge--wide">
                    {{ total['total_amount']|number_format }}
                    </span>
                </td>
            </tr>
        {% endblock %}

    {% endembed %}

    <!-- ModalXml -->
    {{ form_start(formXml, {'action': path('admin_stock_import_xml')}) }}
    <div class="modal fade" id="modalXml" tabindex="-1" role="basic"
         aria-labelledby="modalXmlLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Importar XML</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_row(formXml.file) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air"
                            data-dismiss="modal">
                        <span><i class="fa fa-remove"></i><span>{{ 'resource.actions.items.cancel'|trans }}</span></span>
                    </button>
                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
                        <span><i class="fa fa-check"></i><span>Importar</span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formXml) }}
    <!-- End ModalXml -->

    <!-- ModalConferir -->
    <div class="modal fade" id="modalConferir" tabindex="-1" role="basic" aria-labelledby="modalConferirLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Conferir Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text">
                            <span style="font-size: 1.1rem">Produto <strong><span class="verify_referency_code"></span></strong> não registrado no sistema!</span>
                        </div>
                    </div>

                    <div class="m-alert m-alert--icon alert alert-success m--hide" role="alert" id="m_form_2_msg">
                        <div class="m-alert__icon">
                            <i class="la la-check"></i>
                        </div>
                        <div class="m-alert__text">
                            <span style="font-size: 1.1rem">Produto <strong><span class="verify_referency_code"></span></strong> registrado no sistema!</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="verify_referency" class="form-control-label required">Referência</label>
                        <input type="text" id="verify_referency" name="verify_referency" required="required"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End ModalConferir -->

{% endblock %}

{% block javascripts %}
    {% embed 'admin/_partials/_block_javascripts.html.twig' %}
        {% block javascripts_page_snippets %}
            <script src="{{ asset('assets/widgets/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('assets/widgets/bootstrap-datepicker.pt-BR.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('assets/custom/RoutingManager.js') }}"></script>
            <script>

                $('#selectAll').on('click', function (e) {
                    e.preventDefault();
                    $('table input[type="checkbox"]').each(function (index, element) {
                        if (element.checked === true) {
                            $(this).attr('checked', false);
                        } else {
                            $(this).attr('checked', true);
                        }
                    })
                });

                $('#delete-items').on('click', function () {
                    let $form = $(document.createElement('form'));
                    $form.attr({
                        'action': $(this).data('path'),
                        'method': 'POST'
                    });
                    $form.append($('<input/>', {
                        type: 'hidden',
                        name: '_method'
                    }).val('DELETE'));

                    let idsValues = [];
                    $('input[id="ids"]:checked').each(function () {
                        idsValues.push($(this).val())
                    });

                    $form.append($('<input/>', {
                        type: 'hidden',
                        name: 'ids'
                    }).val(idsValues));
                    $(this).parent().append($form);
                    $form.submit();
                });

                $('#modalConferir').on('shown.bs.modal', function (event) {
                    let $referency = $('#verify_referency');
                    $referency.focus();
                    $referency.keyup(function (e) {
                        e.preventDefault();
                        let referencyVal = $(this).val();
                        if (referencyVal.indexOf('#') !== -1) {
                            let referencyCode = referencyVal.split('#')[0].substr(-6);
                            $referency.attr('disabled', true);
                            $.get(RoutingManager.generate('admin_stock_verify_referency'), {referency: referencyCode})
                                .done(function () {
                                    $('#m_form_2_msg').removeClass('m--hide');
                                    $('#m_form_1_msg').addClass('m--hide');
                                })
                                .fail(function () {
                                    $('#m_form_1_msg').removeClass('m--hide');
                                    $('#m_form_2_msg').addClass('m--hide');
                                })
                                .always(function () {
                                    $referency.attr('disabled', false);
                                    $('.verify_referency_code').html(referencyVal);
                                    $referency.val('');
                                    $referency.focus();
                                });
                        }
                    });
                });
            </script>

        {% endblock %}
    {% endembed %}
{% endblock %}